/* .container {

} */

/* *, ::after, ::before {
    box-sizing: border-box;
} */
/* .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} */

@media (min-width: 1200px){
    .container {
        max-width: 80%;
    }
}

/* @media (max-width: 1200px){
    .container {
        min-width: 1140px;
    }
} */


/* @media (min-width: 992px){
    .container {
        max-width: 960px;
    }
} */


/* @media (min-width: 768px){
    .container {
        max-width: 720px;
    }
} */


/* @media (min-width: 576px){
    .container {
        max-width: 540px;
    }
} */


.d-flex {
    display: flex !important;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 50px;
    justify-content: space-between;
  }
  .product-grid-section a {
    color: #3c3c3c;
  }
  .align-content-center {
    align-content: center !important;
  }

  .justify-content-center {
    justify-content: center !important;
  }

  img {
    vertical-align: middle;
    width: 100%;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .d-flex > div {
    width: calc(25% - 9px);
    flex-basis: calc(25% - 10px);
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    border: none;
  }

  .card > div {
    padding: 10px 10px;
    text-align: center;
  }

  .card > div svg {
    background: #f1f1f1;
  }
  .product-grid-section > div {
    padding: 0 10px;
  }
  .product-grid-section a.button {
    font-size: 16px;
    margin: 0 50px 24px;
    border: 0.5px solid #000;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: Montserrat;
    font-weight: 300;

    display: block;
  }
  .product-grid-section span {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Montserrat;
    font-weight: 400;
    min-height: 50px;
    display: block;
    padding: 0 20px;
  }
  .container-fluid.product-grid-wrapper {
    margin: 40px 0;
  }
  @media (max-width: 640px) {
    .d-flex > div {
      width: calc(50% - 3px);
      flex-basis: calc(50% - 3px);
    }
    .product-grid-section a.button {
      margin: 0 10px 20px;
      font-size: 14px;
      padding-top: 3px;
      padding-bottom: 3px;
    }

    .product-grid-section span {
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-family: Montserrat;
      font-weight: 400;
      min-height: 40px;
      display: block;
      padding: 0px;
    }
    .card > div {
      padding: 0px;
      text-align: center;
    }
    .d-flex {
      display: flex !important;
      flex-wrap: wrap;
      gap: 5px;
      row-gap: 10px;
    }
    .container-fluid.product-grid-wrapper {
      margin: 10px 0;
    }
    h3.box-title span {
      text-transform: capitalize;
      font-size: 20px !important;
    }
  }